body {
  font-family: 'Segoe UI';
  margin: 0;
  background: linear-gradient(to right, #fceabb, #f8b500);
  color: #2d3436;
  overflow-x: hidden;
}

.section {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px;
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.section:hover{
  transition: 0.25s;
  scale:1.05;
}

h1, h2 {
  margin-bottom: 20px;
}

h3,h4{
  text-align: left;
}



ul, ol {
  list-style-position: inside;
  padding: 0;
}

a{
  text-decoration: none;
  color: #2d3436;
}

a:hover{
  color: #f8b500;
  transition: 0.25s;
}

.profile-photo {
  width: 180px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: zoomIn 1s ease forwards;
  margin: 50px;
}
.profile-photo:hover {
  width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  scale: 1.2;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.fade-in { animation: fadeIn 1s ease forwards; }
.slide-up { animation: slideUp 1s ease forwards; }

.zoom-in { animation: zoomIn 1s ease forwards; }
